@using DoAn.Models;
@model IList<tblKhachHang>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" class="main">

    <div class="pagetitle">
        <h2>Danh sách khách hàng</h2>
    </div>

</main>